target/META-INF/mule-src/customer-sapi-app-v1/bin/target/META-INF/mule-src/customer-sapi-app-v1/src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-config" />
		<error-handler ref="apikit-global-errorError_Handler" />
    </flow>
	<flow name="api-console">
        <http:listener path="/console/*" config-ref="api-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-config" />
		<error-handler ref="apikit-global-errorError_Handler" />
    </flow>
    <flow name="post:\customerState:application\json:api-config">
        <flow-ref doc:name="Flow Reference To Call Initialize Request Data" doc:id="3ef9d05e-487b-4f73-825a-1e301281a424" name="initialize-request-data-subFlow"/>
		<logger level="INFO" doc:name="Start Logger For Customer State API" doc:id="f23e545f-4284-4c94-8d07-8a22152788af" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStamp: now(), &#10;    transactionId: vars.headers_var.'X-lyt-transactionId',&#10;    AppName: app.name,&#10;    FLowName: flow.name,&#10;    BusinessProcessName: &quot;Customer State&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Process API&quot;,&#10;    DesinationApplication: &quot;Salesforce&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    txnState: &quot;START&quot;&#10;}]"/>
		<flow-ref doc:name="Flow Reference To Call Customer State Implementation" doc:id="cd50aff7-554b-4eed-abbf-c5b281a71f9d" name="post-cutomer-state-implementation-flow"/>
		<logger level="INFO" doc:name="End Logger For Customer State API" doc:id="f0bf7b7c-674d-48cf-b142-3144e3dd7c0b" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStamp: now(),&#10;    transactionId: vars.headers_var.'X-lyt-transactionId',&#10;    AppName: app.name,&#10;    FlowName: flow.name,&#10;    BusinessProcessName: &quot;Customer State&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Process API&quot;,&#10;    DesinationApplication: &quot;Salesforce&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    txnState: &quot;END&quot;&#10;}]"/>
		<error-handler ref="implementation-global-errorError_Handler" />
    </flow>
    <flow name="post:\customers\registration:application\json:api-config" doc:id="82963cf5-0bff-4e02-97bf-3a52a7abb0cf">
        <flow-ref doc:name="Flow Reference To Call Initialize Request Data" doc:id="5c7a0283-fc7c-4412-9ee8-27cade966392" name="initialize-request-data-subFlow"/>
		<logger level="INFO" doc:name="Start Logger For Customer Registration API" doc:id="a014c722-1fdd-49f4-8448-5d5b85a7f848" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStamp: now(), &#10;    transactionId: vars.headers_var.'X-lyt-transactionId',&#10;    AppName: app.name,&#10;    FLowName: flow.name,&#10;    BusinessProcessName: &quot;Customer Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Process API&quot;,&#10;    DesinationApplication: &quot;Salesforce&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    txnState: &quot;START&quot;&#10;}]"/>
		<flow-ref doc:name="Flow Reference To Call Customer Registration Implementation" doc:id="95bbe5cb-8c1b-4157-8bee-dc109fb890e9" name="post-cutomer-registration-implementation-flow"/>
		<logger level="INFO" doc:name="End Logger For Customer Registration API" doc:id="b55e0b18-5e78-4476-8da0-dcb15d496a71" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStamp: now(),&#10;    transactionId: vars.headers_var.'X-lyt-transactionId',&#10;    AppName: app.name,&#10;    FlowName: flow.name,&#10;    BusinessProcessName: &quot;Customer Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Process API&quot;,&#10;    DesinationApplication: &quot;Salesforce&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    txnState: &quot;END&quot;&#10;}]"/>
		<error-handler ref="implementation-global-errorError_Handler" />
    </flow>
    <flow name="post:\verification:application\json:api-config">
        <flow-ref doc:name="Flow Reference To Call Initialize Request Data" doc:id="beaf9907-43f3-45da-8798-0676fba23854" name="initialize-request-data-subFlow"/>
		<logger level="INFO" doc:name="Start Logger For Verification API" doc:id="aab668fc-3e31-4ffd-aedf-115b6036c491" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStamp: now(), &#10;    transactionId: vars.headers_var.'X-lyt-transactionId',&#10;    AppName: app.name,&#10;    FLowName: flow.name,&#10;    BusinessProcessName: &quot;Verification&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Process API&quot;,&#10;    DesinationApplication: &quot;3rd Party SMS API&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    txnState: &quot;START&quot;&#10;}]"/>
		<ee:transform doc:name="Transform Message To Initialize Request Variables" doc:id="d17c3e5d-c529-4156-b28d-dcfa020946a4" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="to" ><![CDATA[payload.verificationRequest.countryCode ++ payload.verificationRequest.mobile]]></ee:set-variable>
				<ee:set-variable variableName="text" ><![CDATA[payload.verificationRequest.messageContent]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Reference To Call Verification Implementation" doc:id="5d74e157-1c59-4281-8d44-885ebe4f092d" name="post-verification-implementation-flow"/>
		<logger level="INFO" doc:name="End Logger For Verification API" doc:id="7231ea45-4175-4b4d-bcd7-9cf115ce83c8" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStamp: now(),&#10;    transactionId: vars.headers_var.'X-lyt-transactionId',&#10;    AppName: app.name,&#10;    FlowName: flow.name,&#10;    BusinessProcessName: &quot;Verification&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Process API&quot;,&#10;    DesinationApplication: &quot;3rd Party SMS API&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    txnState: &quot;END&quot;&#10;}]"/>
		<error-handler ref="implementation-global-errorError_Handler" />
    </flow>
</mule>
