src/main/mule/implementation/post-customer-registration-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="post-cutomer-registration-implementation-flow" doc:id="0039b7e7-4433-416a-bbc9-86c078a63c3f" >		
		<ee:transform doc:name="Transform Message to Create SFDC Request Payload for Registration" doc:id="108ab05f-488d-4e8a-ba14-442eefcc096e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[{
    "contactType__c": payload.registrationRequest.contactType default "",
    "countryCode__c": payload.registrationRequest.countryCode default "",
    "mobile__c": payload.registrationRequest.mobile default "",
    "password__c": payload.registrationRequest.password default "",
    "acceptDataPolicy__c": payload.registrationRequest.acceptDataPolicy default "",
    "recieveNews__c": payload.registrationRequest.recieveNews default "",
    "acceptPIC__c": payload.registrationRequest.acceptPIC default "",
    "locale__c": payload.registrationRequest.locale default "",
    "captchatoken__c": payload.registrationRequest.captchatoken default "",
    "recieveClaimsettle__c": payload.registrationRequest.recieveClaimsettle default ""
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Request Logger For SFDC Call" doc:id="b605cae8-1953-44d2-a6ad-a4d5ba339a8c" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStamp: vars.requestTime_var, &#10;    transactionId: vars.headers.'x-cms-transactionId',&#10;    AppName: app.name,&#10;    FLowName: flow.name,&#10;    BusinessProcessName: &quot;Get Transaction SFDC&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Process API&quot;,&#10;    DesinationApplication: &quot;SalesForce&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    txnState: &quot;SFDC Request&quot;&#10;}]"/>
		<salesforce:create doc:name="Create call to SFDC Registration Object To Insert Registration Data" doc:id="4ef32f64-030f-41ee-b023-7b651d5d59e4" config-ref="Salesforce_Config" type="registration__c"/>
		<logger level="INFO" doc:name="Response Logger For SFDC Call" doc:id="3ea7b5a4-81e1-4e60-9011-92d22892c880" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStamp: now(),&#10;    transactionId: vars.headers.'x-cms-transactionId',&#10;    AppName: app.name,&#10;    FlowName: flow.name,&#10;    BusinessProcessName: &quot;Get Transaction SFDC&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Process API&quot;,&#10;    DesinationApplication: &quot;SalesForce&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    txnState: &quot;SFDC Response&quot;&#10;}]"/>
		<ee:transform doc:name="Transform Message to Create Registration SAPI Response" doc:id="625068e8-a14f-4296-ae47-a5e5b49ec96d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  registrationResponse: {
    eventInstanceId: vars.headers.'x-cms-transactionId',
    status: if(payload.successful == true)("Successful")else("Failed")
  }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
